
  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap');

body{
	font-family: 'Catamaran', sans-serif;
	background-color: #252525;
	font-size: 14px;
}
:root{
	--color-negro:#282d33;
	--menu-hover:#ec3642;
	--color-rojo:#ec3642;
	--fondo-header:#212121;
	--fondo-footer:#212121;
	--color-footer:#ccc;
	--color-caja:#161616;
}
header{
	background-color: var(--fondo-header);
}
footer{
	background-color: var(--fondo-footer);
	color: var(--color-footer);
	padding: 20px 0;
}
footer p{
	margin-bottom: 5px;
}
footer span{
	color: var(--color-rojo);
}

.carousel-caption{
	text-align: left;
}

.pad{
	padding: 10% 0;
}

.card{
	background-color: var(--color-caja);
	color: #ffff;
	border-radius: 0px;
}
.cuadro-negro {
	background-color: var(--color-caja);
	color: #ffffff;
    padding: 30px;
}

#intro hr{
	width: 70px;
}
#intro{
	color: cornsilk;
}

#cta{
	margin-top: 70px;
	background-color: var(--color-rojo);
	background-image: url("../img/bg-parallax.png");
	padding: 100px;
	color: #ffff;
	font-weight: 800;

}

#productos h2{
 	border: 1px solid #FFFFFF;
	padding: 5px;
	color: #FFFFFF;
	text-align: center;
	font-size:18px;
 margin: 20px 35%;
}